@{
    ViewBag.Title = "About";
}
<h2>Welcome to The Caxton Arms</h2>

<div class="row">
	<div class="col-md-6">
	<img src="~/Content/Images/caxton1.jpg" class="img-responsive" />
	</div>
	<div class="col-md-6">
		<p class="lead">
		The Caxton Arms is a busy pub right by Brighton station.
		</p>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-md-6">
	<img src="~/Content/Images/caxton2.jpg" class="img-responsive" />
	</div>
	<div class="col-md-6">
		<p class="lead">
		The downstairs function room is the perfect space for your fringe show.
		</p>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-md-6">
	<img src="~/Content/Images/caxton3.jpg" class="img-responsive" />
	</div>
	<div class="col-md-6">
		<p class="lead">
		It's a 60 seater which we divide into 2 halves with a curtain, we suggest to stop people going right to the back, you should let the audience fill up the first 30 seats then open up the curtain to reveal the remaining 30 - it's up to you though.
		</p>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-md-6">
	<img src="~/Content/Images/caxton4.jpg" class="img-responsive" />
	</div>
	<div class="col-md-6">
		<p class="lead">
		The slots are an hour and 15 minutes, the extra 15 mins allow for audience changeovers/ overrunning ect..
		</p>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-md-6">
	<img src="~/Content/Images/caxton-brochure.jpg" class="img-responsive" />
	</div>
	<div class="col-md-6">
		<p class="lead">
You get a PA, a sound system, microphones and use of a projector attached to the ceiling. You can ticket or bucket it's up to you. 	</p>
<p class="lead">
You can register with the Brighton fringe which gets you in the fringe brochure and allows you to put the Brighton fringe logo on your flyers, but you don't have to register with the fringe. For £15 we'll advertise your show in the 'Caxton Comedy what's on guide' - which is free if you book 3 or more slots. Click on the 'Caxton Comedy what's on guide' tab to register your show 
		</p>
		
<p class="lead">
		For bookings and payment speak to Ben Carter either on Facebook or email him at <a href="mailto:thecaxtonarms@gmail.com">thecaxtonarms@gmail.com</a>, he'll work with you to find a suitable spot. Any questions don't hesitate to ask
		</p>
	</div>
</div>

